<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Corralon Sanchez</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <header class="heading">
    <h1 class="titulo">Corralon Sanchez</h1>
    <form class="buscador" action="#">
      <input class="buscador__input" type="search" id="search" name="search" placeholder="Buscar productos, marcas, etc.">
    </form>
  </header>
  
  <div class="nav-bg">
    <nav class="navegacion-principal contenedor">
        <a href="#">Productos</a>
        <a href="#">Ofertas</a>
        <a href="#">Ayuda</a>
        <a href="#">Contacto</a>
        
        
    </nav>
</div>

 
  
  <main>
    <section>
      <h2>Quiénes Somos</h2>
      <p>In volutpat lorem tellus, ac rhoncus neque scelerisque quis. Nulla vel commodo quam, eu lacinia dui. Aliquam
        vestibulum cursus tellus vitae laoreet. Donec placerat quam non mi ultrices, tempus sollicitudin lacus
        ullamcorper.</p>
    </section>
  
    <section>
      <h2>Nuestros Destacados</h2>
    </section>
    <div class="destacados">
      <section class="productos">
        <h3>Producto 1 </h3>
        <p>ivamus dictum euismod quam at venenatis.</p>
      </section>
  
      <section class="productos">
        <h3>Producto 2 </h3>
        <p>ivamus dictum euismod quam at venenatis.</p>
      </section>
  
      <section class="productos">
        <h3>Producto 3 </h3>
        <p>ivamus dictum euismod quam at venenatis.</p>
      </section>
    </div>
  </main>

  <footer class="footer__bg">
    <section>
      <h3>Secciones</h3>
    </section>
    <nav>
      <ul>
        <li>Inicio</li>
        <li>Productos</li>
        <li>Ofertas</li>
        <li>Ayuda</li>
        <li>Contactos</li>
      </ul>
    </nav>
  </footer>

  

</body>
</html>