<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Corralon Sanchez</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <header class="heading">
    <a href="#"><img class="logo" src="images/Logo corralon.png" alt="Logo"></a>
    
    <h1 class="titulo">Corralon Sanchez</h1>
    <div class="buscador">
      <input class="buscador__input" type="search" id="search" name="search"
        placeholder="Buscar productos, marcas, etc.">
      <button><img class="buscador__icono" src="images/search.png" alt=""> </button>
  
  </div>
    <div class="carrito-user">
      <a href="#"> <img class="carrito" src="images/shopping-cart1.png" alt="icono_carrito"></a>
      <a href="#"><img class="user" src="images/user1.png" alt="icono_user"></a>
       
        
    </div>
  </header>
  <div class="nav-bg">
    <nav class="navegacion-principal contenedor">
      <a href="#">Productos</a>
      <a href="#">Ofertas</a>
      <a href="#">Ayuda</a>
      <a href="#">Contacto</a>
    </nav>
  </div>
  <main class="contenedor">
    <h1>Producto 1</h1>

    <div class="prod_detail">
        <img src="images/productos/prod1.jfif" alt="Imagen del Producto">

        <div class="form_detail">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla mi non condimentum malesuada. Sed hendrerit, leo in porttitor commodo, mauris orci blandit libero, sit amet consectetur libero nisi porttitor orci.</p>

            <form> 
                <input class="formulario__campo mg_bt" type="number" placeholder="Cantidad" min="1">
                <input class="formulario__submit" type="submit" value="Agregar al Carrito">
            </form>
        </div>
    </div>
<section>
    <h4>Quienes vieron éste producto tambien buscaron</h4>
</section>
<div class="destacados detalle__similares">
  <div class="destacados__contenedor">
    <section class="productos">
      <img src="images/productos/prod1.jfif" alt="producto">
      <h3>Producto 1 </h3>
      <p class="precio">Precio: $164564</p>
      <p class="descrip" >Descripcion: Nullam sed vestibulum odio.</p>
    </section>
  </div>
  <div class="destacados__contenedor">
    <section class="productos">
      <img src="images/productos/prod2.webp" alt="producto">
      <h3>Producto 2 </h3>
      <p class="precio">Precio: $1638</p>
      <p class="descrip" >Descripcion: Nullam sed vestibulum odio.</p>
    </section>
  </div>
  <div class="destacados__contenedor">
    <section class="productos">
      <img src="images/productos/prod3.jfif" alt="producto">
      <h3>Producto 3 </h3>
      <p  class="precio">Precio: $1645</p>
      <p class="descrip" >Descripcion: Nullam sed vestibulum odio.</p>
    </section>
  </div>
</div> <!-- Destacados -->
</main>
  
</body>

</html>