.formulario_login {
    background-color: var(--secundario);
    width: min( 60rem, 100% ); 
    margin: 6rem auto 4rem auto; 
    padding: 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 6px 4px 29px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 6px 4px 29px 1px rgba(0,0,0,0.52);
    box-shadow: 6px 4px 29px 1px rgba(0,0,0,0.52);

}
.formulario_login fieldset {
    border: none;
}
.formulario_login legend {
    text-align: center; 
    font-size: 1.8rem; 
    text-transform: uppercase; 
    font-weight: 700; 
    margin-bottom: 2rem; 
    color: var(--gris); 
}

.recuperar_pass {
    text-align: center;
}

.letra_primario {
    color: var(--primario);
}

.letra_gris {
    color: var(--gris)
}