
.formulario__campo {
    border-width: 1rem;
    border-style: solid;
    border-color: var(--primario);
    background-color: transparent;
    color: var(--gris);
    font-size: 2rem;
    padding: 1rem;
    appearance: none; /* quitar la flecha hacia abajo del select */
}
.formulario__submit {
    background-color: var(--primario);
    border: none;
    font-size: 2rem;
    padding: 2rem;
    transition: all .3s ease;
    grid-column: 1 / 3;
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--gris);
    color: var(--blanco);
}

@media (min-width: 768px) {
    .prod_detail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.form_detail {
    margin: auto;
    width: 90%;
}
.form_detail h1{
    text-align: start;
}

.mg_bt{
    margin-bottom: 1rem;
}
h4 {
    margin-left: 4rem;
    color: var(--gris);
}

@media (min-width: 768px) {
    .detalle__similares {
        display: flex;
        justify-content: space-between;
    }
}
.img_detail{
    max-width: 100%;
}