/* detalle de producto e index */

.productos {
	width: 100%;
	height: 100%;
	border: solid rgb(211, 211, 211) 0.1rem;
	transition: all 250ms;
	border-radius: 5%;
}

.productos:hover {
	-webkit-box-shadow: 6px 4px 29px 1px rgba(0, 0, 0, 0.52);
	-moz-box-shadow: 6px 4px 29px 1px rgba(0, 0, 0, 0.52);
	box-shadow: 6px 4px 29px 1px rgba(0, 0, 0, 0.52);
	border: solid var(--primario) 0.2rem;
}

.destacados {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 3rem;
}

.destacados__contenedor {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 20rem;
	height: 30rem;
	margin-bottom: 2rem;
}

.imagen_producto {
	width: 15rem;
	height: 100%;
	max-height: 100;
	object-fit:contain;
}

.precio {
	font-size: 1.5rem;
	margin: 0;
    width: 100%;
}

.descrip {
	font-size: 1.4rem;
	padding: 0.5rem;
	margin: 0;
    width: 100%;
}

a.boton_editar {
	color: var(--gris);
	text-decoration: underline; 
	font-size: 14.5px;
};

.eliminar {
	display: flex;
	justify-content: center;
	align-items: center;
}

form button.boton_eliminar {
	margin-top: 10px;
	border: 1.5px solid var(--primario);
	border-radius: 8%;
	padding: 2px 3px;
	color: var(--blanco);
	background-color: var(--primario); 
	font-weight: bold;
}

@media (min-width: 480px) {
	.destacados {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1rem;
		row-gap: 2rem;
	}
	.destacados__contenedor {
		margin: auto;
	}
}

@media (min-width: 768px) {
	.destacados {
		display: grid;
		/* grid-template-columns: repeat(3, 1fr); */
	};

}

@media (min-width: 980px) {
	.destacados {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 768px) {
	form button.boton_eliminar:hover {
		color: var(--primario);
		background-color: var(--gris);
		border-color: var(--gris)
	}
}


