:root {
    --fuente: 'Montserrat', sans-serif;
    --primario: #f37023;
    --secundario: #dfdfdf;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--fuente);

}

h1 {
    font-size: 2rem;
}
h2{
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.navegacion-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-bg {
    background-color: var(--secundario);
}
.heading {
    background-color: var(--primario);
    width: 100%;
    height: 5rem;
    margin: 0;
    padding: 3rem 0;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}
.buscador {
    display: flex;
    margin: auto 0;
    height: 3rem;
    width: 40%;
    
}
.buscador__input {
    width: 100%;
}

.titulo {
    margin: auto 2rem;
}

.footer__bg {
    background-color: var(--secundario);
}

.destacados {
    display: flex;
    flex-basis: calc(33%);
}

.productos {
    width: 100%;
    text-align: center;
}

main div section p {
    width: 100%;
}


main section p {
    width: 60%;
}

footer {
    padding: 1rem;
    position: relative;
    
}

