<html lang="es">
	<head>
		<%- include('./partials/head') %>
		<link rel="stylesheet" href="/css/index.css" />
		<link rel="stylesheet" href="/css/footer.css" />
		<link rel="stylesheet" href="/css/productos.css" />
	</head>

	<body>
		<!-- header -->
		<%- include('./partials/header') %>
		<main>
			<section class="quienes_somos">
				<h2>Quiénes Somos</h2>
				<p>
					In volutpat lorem tellus, ac rhoncus neque scelerisque quis. Nulla vel commodo
					quam, eu lacinia dui. Aliquam vestibulum cursus tellus vitae laoreet. Donec
					placerat quam non mi ultrices, tempus sollicitudin lacus ullamcorper.
				</p>
			</section>

			<h2>Nuestros Destacados</h2>

			<section class="destacados">
				<article class="destacados__contenedor productos">
					<img class="imagen_producto" src="images/productos/prod1.jfif" alt="producto" />
					<h3>Producto 1</h3>
					<p class="precio">Precio: $164564</p>
					<p class="descrip">Descripcion: Nullam sed vestibulum odio.</p>
				</article>
				<article class="destacados__contenedor productos">
					<img class="imagen_producto" src="images/productos/prod2.webp" alt="producto" />
					<h3>Producto 2</h3>
					<p class="precio">Precio: $1638</p>
					<p class="descrip">Descripcion: Nullam sed vestibulum odio.</p>
				</article>
				<article class="destacados__contenedor productos">
					<img class="imagen_producto" src="images/productos/prod3.jfif" alt="producto" />
					<h3>Producto 3</h3>
					<p class="precio">Precio: $1645</p>
					<p class="descrip">Descripcion: Nullam sed vestibulum odio.</p>
				</article>
				<article class="destacados__contenedor productos">
					<img class="imagen_producto" src="images/productos/prod5.jfif" alt="producto" />

					<h3>Producto 4</h3>
					<p class="precio">Precio: $1234</p>
					<p class="descrip">Descripcion: Nullam sed vestibulum odio.</p>
				</article>
			</section>
			<!-- Destacados -->
		</main>
		<!-- footer -->
		<%- include('./partials/footer') %>
	</body>
</html>
