<header class="heading">
	<a href="/"><img class="logo" src="images/Logo corralon.png" alt="Logo" /></a>
	<h1 class="titulo">Corralon Sanchez</h1>
	<div class="buscador">
		<input
			class="buscador__input"
			type="search"
			id="search"
			name="search"
			placeholder="Buscar productos, marcas, etc."
		/>
		<button>
			<img class="buscador__icono" src="images/search.png" alt="" />
		</button>
	</div>
	<div class="carrito-user">
		<a href="#"> <img class="carrito" src="images/shopping-cart1.png" alt="icono_carrito" /></a>
		<a href="#"><img class="user" src="images/user1.png" alt="icono_user" /></a>
	</div>
</header>
<div class="nav-bg">
	<nav class="navegacion-principal contenedor">
		<a href="/">Productos</a>
		<a href="#">Ofertas</a>
		<a href="#">Ayuda</a>
		<a href="#">Contacto</a>
	</nav>
</div>
