<header class="heading">
	<a href="/"><img class="logo" src="/images/Logo corralon.png" alt="Logo" /></a>
	<h1 class="titulo">Corralon Sanchez</h1>
	
	<form class="buscador">
		<input
			class="buscador__input"
			type="search"
			id="search"
			name="search"
			placeholder="Buscar productos, marcas, etc."
		/>
		<button type="button" class="buscador__icono">
			<img class="buscador__icono" src="/images/search1.png" alt="" />
		</button>
	</form>

	<nav class="carrito-user">
		<a href="#"> <img class="carrito" src="/images/shopping-cart1.png" alt="icono_carrito" /></a>
		<a href="/users/login"><img class="user" src="/images/user1.png" alt="icono_user" /></a>
		<% if (locals && locals.userLogged) { %>
		<ul class="user-logged">
			<li><%= locals.userLogged.full_name %>
				<ul class="user-options">
					<li> <a class="profile" href="/users/profile">Mi Perfil</a> </li>
					<li> <a class="logout" href="/users/logout">Cerrar Sesión</a> </li>
				</ul>		
			</li>
		</ul>
		<% } %> 
	</nav>
</header>

<nav class="navegacion-principal">
	<a href="/">Productos</a>
	<a href="#">Ofertas</a>
	<a href="#">Ayuda</a>
	<a href="#">Contacto</a>
</nav>

