<html lang="es">
	<head>
		<%- include('../partials/head') %>
		<link rel="stylesheet" href="/css/index.css" />
		<link rel="stylesheet" href="/css/footer.css" />
		<link rel="stylesheet" href="/css/productos.css" />
	</head>

	<body>
		<!-- header -->
		<%- include('../partials/header') %>

		<form action="/users/list" method="get">
			<input type="text" name="search" id="search" placeholder="Buscar Usuario" />
			<button type="submit">Buscar</button>
		</form>

		<% if (users.length > 0) { %>
		<ul>
			<% users.forEach(user => { %>
			<li>
				<a href="/users/<%= user.id  %> "><%= user.full_name %></a>
			</li>
			<% }) %>
		</ul>
		<% } else { %>
		<h2>No se encontró ningún usuario</h2>
		<% } %>
	</body>
</html>
